/* AnimalBox.css */
.AnimalBox {
    border-bottom: 1px solid #ddd; /* softer color */
    padding: 20px;
    margin: 10px 0;
    background-color: #fff; /* add a white background */
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* add a shadow for depth */
    border-radius: 10px;
}

.AnimalBox:last-child {
    border-bottom: none;
}

.animalPanel {
    max-height: 400px;
    overflow-y: auto;
}

.animalBoxText, .animalBoxImage, .animalBoxButton {
    flex: 1;
    margin-right: 20px; /* space between columns */
}

.animalBoxText h2, .animalBoxText p {
    margin: 0 0 10px 0; /* space between text elements */
}

.animalBoxImage {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animalBoxImage img {
    max-width: 80%;
    height: auto;
}

.animalBoxButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.animalBoxButton button {
    padding: 10px 20px;
    background-color: #228B22; /* change as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.animalBoxButton button:hover {
    background-color: #196419; /* darker color on hover */
}
