/* AnimalDetail.css */

.animal-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    margin-left: 12rem;
    margin-right: 12rem;
    padding: 2em;
    border-radius: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.animal-detail-column {
    flex-basis: 45%; /* Adjust as needed */
}

.animal-detail-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.treatment-records {
    list-style-type: none;
    padding-left: 0;
}

.treatment-record {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.treatment-record-empty {
    text-align: center;
    color: #999;
}

.animal-detail-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin-top: 2em;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 2rem;

}

.animal-detail-label {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: #333;

}

.animal-detail-input {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.animal-detail-button.submit {
    padding: 0.5em 1em;
    background: #228B22;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
}

.animal-detail-button.submit:hover {
    background: #196419;
}

.animal-detail-button.cancel {
    padding: 0.5em 1em;
    background: #f4a261;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 1em;
}

.animal-detail-button.cancel:hover {
    background: #e96e41;
}

