/* Styles pour le conteneur de tous les tickets */
.TicketManagement {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px; /* Espace entre les tickets */
}

/* Styles pour chaque ticket individuel */
.ticket-card {
  flex: 1 1 300px; /* Chaque ticket aura une largeur initiale de 300px */
  max-width: 300px; /* Mais ne dépassera jamais 300px */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.ticket-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.ticket-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.ticket-card p {
  margin-bottom: 10px;
}

.ticket-card img {
  width: 100%; /* Pour que l'image prenne toute la largeur du ticket */
  height: auto; /* Pour conserver les proportions de l'image */
  object-fit: cover; /* Pour couvrir toute la zone sans déformer l'image */
  border-radius: 5px; /* Pour adoucir les bords de l'image */
  margin-bottom: 10px; /* Pour ajouter un peu d'espace sous l'image */
}

.ticket-card button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #8cba51;
  color: #4b3d29;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.ticket-card button:hover {
  background-color: #709a3a;
  color: #ffffff;
}

.ticket-card button:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(140, 186, 81, 0.5);
}

.ticket-card button:active {
  background-color: #56802c;
  transform: translateY(1px);
}
